.income-generator-summary
    width: 100%
    font-size: 16px
    line-height: 20px
    margin: 6px 0px 6px 0px
    cursor: pointer

    .description
        display: inline-block
        width: 60%
        font-weight: bold
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

    .net
        float: right
        max-width: 40%
