.income-generator-summary
    width: 100%
    font-size: 16px
    line-height: 20px
    margin: 6px 0px 6px 0px

    .description
        display: inline-block
        width: 50%
        font-weight: bold
        text-overflow: ellipsis

    .net
        float: right
        max-width: 50%
