.custom-button
    background-color: $gris-green
    color: $gris-white
    text-align: center
    box-shadow: $shadow-standard
    padding: 20px 0px 20px 0px
    width: 180px
    height: 60px
    font-size: 16px
    line-height: 20px
    border: none
    border-radius: 16px
    cursor: pointer

    &:hover
        background-color: $gris-dark-green
