.dashboard-container
    margin: 0px 100px 0px 100px
    min-height: 100%
    font-size: 14px
    line-height: 18px

    .total
        display: block
        float: right
        font-weight: bold
        color: $gris-green

        &.negative
            color: $gris-red

.ledger-history
    background-color: $gris-white
    float: left
    width: 800px
    padding: 20px 20px 20px 20px
    margin: 0px 69px 69px 0px
    box-shadow: $shadow-standard

    h1
        font-size: 24px
        line-height: 28px
        margin: 0px

    p
        margin: 6px 0px 6px 0px

    hr
        margin-left: 31%
        width: 69%
        border: 1px solid $gris-light-blue

    button
        float: left

    .custom-dropdown
        float: right
        margin: 0px

    .after
        clear: both

.income-generator-list
    background-color: $gris-white
    float: left
    width: 365px
    margin: 0px 69px 69px 0px
    padding: 20px 20px 20px 20px
    box-shadow: $shadow-standard

    h1
        font-size: 24px
        line-height: 28px
        margin: 0px

    p
        font-size: 14px
        line-height: 18px
        margin: 6px 0px 6px 0px

    hr
        margin-left: 31%
        width: 69%
        border: 1px solid $gris-light-green

.recurring-transaction-list
    background-color: $gris-white
    float: left
    width: 365px
    margin: 0px 0px 0px 0px
    padding: 20px 20px 20px 20px
    box-shadow: $shadow-standard

    h1
        font-size: 24px
        line-height: 28px
        margin: 0px

    p
        font-size: 14px
        line-height: 18px
        margin: 6px 0px 6px 0px

    hr
        margin-left: 31%
        width: 69%
        border: 1px solid $gris-light-red
