.dashboard
    display: grid
    grid-template-columns: repeat(6, 90%)
    grid-column-gap: 16px
    height: 100%
    width: 100%
    margin: 0px
    overflow-x: scroll
    overflow-y: hidden

    // TODO (alexa): scrolling should be moved to the relevant subsections
    .page
        display: grid
        grid-row-gap: 0px
        grid-template-rows: repeat(10, 10vh)
        height: 100vh
        padding: 0px 8px 0px 8px
        width: 100%

        .navbar
            grid-row: 1 / 2
            grid-column: 10 / 11

        .budget-summary
            grid-row: 2 / 3

        .transaction-history-visualization
            background-color: $gris-dark-grey
            grid-row: 3 / 10
            width: 100%

        .add-ledger-entry
            grid-row: 2 / 5

        .ledger-history-list
            grid-row: 5 / 10
            width: 100%

        .add-recurring-transaction
            grid-row: 2 / 6

        .recurring-transaction-list
            grid-row: 6 / 10
            width: 100%

        .add-savings-bucket
            grid-row: 3 / 5

        .savings-bucket-list
            grid-row: 5 / 10
            width: 100%

        .add-income-generator
            grid-row: 3 / 5

        .income-generator-list
            grid-row: 5 / 10
            width: 100%

        .add-support-ticket
            grid-row: 3 / 5

        .support-ticket-list
            grid-row: 5 / 10
            width: 100%
