.footer
    background-color: $gris-green
    bottom: 0
    width: 100%
    height: 169px
    padding-top: 18px
    max-width: 100%
    overflow-x: hidden

    .custom-link
        font-size: 12px
        line-height: 16px
        margin: 6px 0px 6px 0px
        cursor: pointer

        &.first
            margin-left: 0px
