.footer
    bottom: 0px
    display: grid
    grid-column-gap: 0px
    grid-row-gap: 0px
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(3, 30%)
    height: 10vh
    padding: 0px 8px 24px 8px
    position: absolute
    width: 100%

    .custom-link
        cursor: pointer

    .title
        grid-column: 1 / 5
        grid-row: 1 / 2
        text-align: center

    .frontend
        grid-column: 2 / 3
        grid-row: 2 / 3

    .backend
        grid-column: 3 / 4
        grid-row: 2 / 3

    .worker
        grid-column: 4 / 5
        grid-row: 2 / 3

    .about
        grid-column: 4 / 5
        grid-row: 3 / 4
