.footer
    background-color: $gris-grey
    position: absolute
    bottom: 0px
    height: 110px
    width: 100%

    .custom-link
        margin: 16px 24px 0px 24px

        &.first
            margin-left: 0px
