.navbar
    display: grid
    grid-column-gap: 0px
    grid-row-gap: 0px
    grid-template-columns: repeat(10, 10%)
    grid-template-rows: repeat(2, 50%)
    height: 10vh
    padding: 0px 8px 0px 8px
    position: absolute
    width: 100%

    .title
        grid-column: 1 / 8
        grid-row: 2 / 3
        font-size: 36px
        line-height: 48px
        cursor: pointer

    .navbar-auth
        grid-column: 8 / 11
        grid-row: 1 / 2
        padding: 12px 0px 0px 0px
        text-align: center

        .custom-link
            margin: 0px
            color: $gris-dark-grey

    .navbar-admin
        grid-column: 8 / 11
        grid-row: 2 / 3
        padding: 12px 0px 0px 0px
        text-align: center

        .custom-link
            margin: 0px
            color: $gris-dark-grey
