.navbar
    width: 100%
    height: 80px
    background-color: $gris-blue

    .custom-link
        margin: 40px 24px 16px 24px
        float: right
        color: $gris-light-grey

        &.last
            margin-right: 0px
