$gris-light-red: #f5b8b7
$gris-red: #ba5056
$gris-dark-red: #8f0e22

$gris-light-green: #a5d6c6
$gris-green: #7d957b
$gris-dark-green: #576970

$gris-light-blue: #2baed3
$gris-blue: #207bad
$gris-dark-blue: #113691

$gris-light-grey: #e0e0e0
$gris-grey: #bdbec2
$gris-dark-grey: #35343a

$gris-white: #fbf7f6

$shadow-standard: 4px 4px 12px 0px $gris-grey
$shadow-dark: 4px 4px 12px 0px $gris-dark-grey
