@import "variables"

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit
    margin: 0px

@import "misc"
@import "button"
@import "link"
@import "navbar"
@import "header"
@import "footer"
@import "dashboard"
@import "admin"
@import "modal"
@import "namevalue"

@import "input/input_label"
@import "input/dropdown"
@import "input/text"
@import "input/datepicker"
@import "input/selector"

@import "ledger_history_list"
@import "add_ledger_entry"
@import "recurring_transaction_list"
@import "add_recurring_transaction"
@import "income_generator_list"
@import "add_income_generator"

body
    flex-basis: 66%
    color: $gris-dark-grey
    margin: 0
    min-height: 100%
    background-color: $gris-white
