.custom-date-picker
    height: 60px
    width: 420px
    position: relative
    margin: 0px 0px 0px 0px

    input
        color: $gris-dark-grey
        background-color: $gris-white
        height: 100%
        width: 100%
        font-size: 16px
        line-height: 24px
        border: 2px $gris-green solid
        border-radius: 2px
        padding: 18px 0px 18px 20px
        overflow: hidden

    label
        @extend .input-label

    &.active
        label
            @extend .input-label-active

.react-datepicker
    background-color: $gris-dark-grey !important
    margin: -8px 0px -8px 0px

.react-datepicker-popper[data-placement^="bottom"]
    margin-top: 0px !important

.react-datepicker-popper[data-placement^="top"]
    margin-bottom: 0px !important

.react-datepicker__triangle
    display: none

.react-datepicker__header
    background-color: $gris-dark-grey !important

.react-datepicker__current-month
    color: $gris-white !important

.react-datepicker__day-name
    color: $gris-white !important

.react-datepicker__day
    &:focus
        outline: none

.react-datepicker__day--selected
    background-color: $gris-dark-grey !important
    color: $gris-white !important

@media only screen and (max-width: 600px)
    .react-datepicker-wrapper
        height: 100%
        margin: 0px
        width: 100%

    .react-datepicker
        margin: 0px

    .custom-date-picker
        height: 100%
        width: 100%

    .react-datepicker__input-container
        height: 100%
