.selector
    margin: auto

    .selector-button
        color: $gris-dark-grey
        background-color: $gris-grey
        height: 100%
        padding: 20px 0px 20px 20px
        border-radius: 2px
        cursor: pointer
        display: inline-block
        margin: 0px 2px 0px 2px

        &.first
            margin-left: 0px

            &.last
                margin-right: 0px

        &.selected
            color: $gris-light-grey
            background-color: $gris-green

        .description
            display: inline-block
            vertical-align: middle

input[type="radio"]
    --webkit-appearance: none
    --moz-appearance: none
    appearance: none
    vertical-align: middle
    display: inline-block
    margin: 0px 12px 0px 0px
    width: 14px
    height: 14px
    background-clip: content-box
    border: 2px solid $gris-white
    background-color: $gris-white
    border-radius: 50%
    cursor: pointer

input[type="radio"]:checked
    border: 2px solid $gris-white
    background-color: $gris-green

@media only screen and (max-width: 600px)
    .selector
        height: 100%

        .selector-button
            padding: 16px 0px 0px 20px
