html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

.container {
  margin: 0px 0px 0px 269px;
  min-height: 100%;
  width: 540px;
}

input:focus {
  outline: none;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

.error {
  height: 32px;
  width: 420px;
  text-align: right;
  color: #8f0e22;
}

button {
  background-color: #7d957b;
  color: #fbf7f6;
  text-align: center;
  box-shadow: 4px 4px 12px 0px #bdbec2;
  padding: 20px 0px 20px 0px;
  width: 180px;
  height: 60px;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 16px;
  cursor: pointer;
}
button.error {
  background-color: #ba5056;
}
button.error:hover {
  background-color: #8f0e22;
}
button:hover {
  background-color: #1d6476;
}

.custom-link {
  font-size: 16px;
  line-height: 24px;
  margin: 0px 24px 6px 24px;
  cursor: pointer;
}
.custom-link.first {
  margin-left: 0px;
}
.custom-link.last {
  margin-right: 0px;
}

a {
  color: #35343a;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  margin: 0px 24px 6px 24px;
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 80px;
  left: 0;
  right: 0;
  top: 0;
  background-color: #207bad;
}
.navbar h1 {
  color: #2baed3;
  font-size: 36px;
  line-height: 48px;
  margin: 32px 0px 0px -169px;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.navbar .custom-link {
  margin: 56px 24px 0px 24px;
  display: inline-block;
  float: right;
  color: #e0e0e0;
}
.navbar .custom-link.last {
  margin-right: 0px;
}

.header {
  margin: 60px 0px 20px 0px;
}
.header h1 {
  font-size: 32px;
  line-height: 35px;
}
.header p {
  font-size: 16px;
  line-height: 24px;
}
.header .accent {
  background-color: #207bad;
  width: 269px;
  height: 4px;
}
.header .custom-link {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}

.footer {
  background-color: #bdbec2;
  bottom: 0;
  width: 100%;
  height: 169px;
  padding-top: 18px;
  max-width: 100%;
  overflow-x: hidden;
}
.footer .custom-link {
  font-size: 12px;
  line-height: 16px;
  margin: 6px 0px 6px 0px;
  cursor: pointer;
}
.footer .custom-link.first {
  margin-left: 0px;
}

.section {
  font-size: 14px;
  line-height: 18px;
  padding: 20px 0px 40px 0px;
}
.section h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.section p {
  margin: 6px 0px 6px 0px;
}
.section a {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0px 6px 0px;
}

.content {
  margin: 16px 0px 16px 0px;
  float: none;
}

.column {
  float: left;
  width: 33%;
}
.column h1 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
.column a {
  font-size: 12px;
  line-height: 16px;
  margin: 6px 0px 6px 0px;
}

.dashboard-container {
  margin: 0px 100px 0px 100px;
  min-height: 100%;
  font-size: 14px;
  line-height: 18px;
}
.dashboard-container .total {
  display: block;
  float: right;
  font-weight: bold;
  color: #7d957b;
}
.dashboard-container .total.negative {
  color: #ba5056;
}

.ledger-history {
  background-color: #fbf7f6;
  float: left;
  width: 800px;
  padding: 20px 20px 20px 20px;
  margin: 0px 69px 69px 0px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}
.ledger-history h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.ledger-history p {
  margin: 6px 0px 6px 0px;
}
.ledger-history hr {
  margin-left: 31%;
  width: 69%;
  border: 1px solid #2baed3;
}
.ledger-history .custom-button {
  float: left;
}
.ledger-history .custom-dropdown {
  float: right;
  margin: 0px;
}
.ledger-history .after {
  clear: both;
}

.income-generator-list {
  background-color: #fbf7f6;
  float: left;
  width: 365px;
  margin: 0px 69px 69px 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}
.income-generator-list h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.income-generator-list p {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0px 6px 0px;
}
.income-generator-list hr {
  margin-left: 31%;
  width: 69%;
  border: 1px solid #a5d6c6;
}

.recurring-transaction-list {
  background-color: #fbf7f6;
  float: left;
  width: 365px;
  margin: 0px 0px 0px 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}
.recurring-transaction-list h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
}
.recurring-transaction-list p {
  font-size: 14px;
  line-height: 18px;
  margin: 6px 0px 6px 0px;
}
.recurring-transaction-list hr {
  margin-left: 31%;
  width: 69%;
  border: 1px solid #f5b8b7;
}

.tickets-overview {
  background-color: #fbf7f6;
  float: left;
  width: 460px;
  margin: 0px 69px 69px 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}
.tickets-overview .ticket-summary {
  margin: 6px 0px 6px 0px;
}
.tickets-overview .ticket-summary .subject {
  font-weight: bold;
  float: right;
  display: inline-block;
  max-width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tickets-overview .ticket-summary .date {
  margin-left: 16px;
  display: inline-block;
}
.tickets-overview .ticket-summary hr {
  margin-left: 31%;
  width: 69%;
  border: 1px solid #e5ad56;
}

.add-type {
  background-color: #fbf7f6;
  float: left;
  width: 460px;
  margin: 0px 69px 69px 0px;
  padding: 20px 20px 20px 20px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}

.message {
  background-color: #fbf7f6;
  width: 100%;
  margin: 8px 0px 8px 0px;
  padding: 20px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}
.message .author {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
}

.modal-body {
  background-color: #fbf7f6;
  position: fixed;
  width: 489px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 4px 4px 12px 0px #35343a;
  z-index: 11;
  overflow: auto;
}

.modal-header {
  text-align: center;
  min-height: 113px;
  color: #fbf7f6;
  background-color: #207bad;
  padding: 40px 20px 47px 20px;
}
.modal-header h1 {
  font-size: 24px;
  line-height: 26px;
}

.modal-content {
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  line-height: 18px;
  max-height: 800px;
}
.modal-content h1 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}
.modal-content .custom-button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.name-value {
  padding: 6px 0px 8px 0px;
}
.name-value .name-value-name {
  display: inline-block;
  float: left;
  max-width: 45%;
  text-overflow: ellipsis;
  font-weight: bold;
}
.name-value .name-value-value {
  display: inline-block;
  float: right;
  text-align: right;
  max-width: 45%;
}
.name-value .after {
  clear: both;
}

.input-label, .custom-date-picker label, .custom-text label, .custom-dropdown label {
  position: absolute;
  margin: 2px 0px 0px 20px;
  color: #bdbec2;
  transform-origin: top left;
  transform: translate(0, 16px);
  transition: all 0.2s ease-in-out;
  cursor: text;
}

.input-label-active, .custom-date-picker.active label, .custom-text.active label, .custom-dropdown.active label {
  font-size: 10px;
  line-height: 14px;
  color: #1d6476;
  margin: 0px 0px 0px 20px;
  transform: translate(0, 4px);
}

.custom-dropdown {
  height: 60px;
  width: 420px;
  position: relative;
  margin: 8px 0px 8px 0px;
}
.custom-dropdown .icon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 24px 24px 24px 372px;
  cursor: pointer;
}
.custom-dropdown .icon img {
  width: 16px;
  height: 16px;
}
.custom-dropdown input {
  background-color: #fbf7f6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  padding: 20px 80px 16px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 4px 4px 12px 0px #bdbec2;
  cursor: pointer;
}
.custom-dropdown label {
  cursor: pointer;
}
.custom-dropdown.active label {
  cursor: pointer;
}
.custom-dropdown.focused {
  border: 2px solid;
  border-color: #7d957b;
  border-radius: 4px;
}
.custom-dropdown.focused img {
  transform: rotate(180deg);
}

.custom-dropdown-menu {
  position: absolute;
  width: 420px;
  background-color: #fbf7f6;
  margin: -4px 0px 0px -2px;
  z-index: 11;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 180px;
  border: 2px solid;
  border-color: #7d957b;
  cursor: pointer;
}

.custom-dropdown-item {
  height: 48px;
  width: 420px;
  padding: 12px 0px 12px 20px;
  font-size: 14px;
  line-height: 18px;
}
.custom-dropdown-item:hover {
  color: #fbf7f6;
  background-color: #1d6476;
}

.custom-text {
  height: 60px;
  max-width: 420px;
  position: relative;
  margin: 8px 0px 8px 0px;
}
.custom-text > span {
  position: absolute;
  display: block;
  padding: 20px 0px 16px 20px;
  font-size: 16px;
  line-height: 24px;
}
.custom-text input {
  background-color: #fbf7f6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  padding: 20px 0px 16px 20px;
  overflow: hidden;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}
.custom-text.error input {
  color: #ba5056;
  border: 1px solid;
  border-color: #f5b8b7;
}
.custom-text.has-pre-token input {
  padding-left: 30px;
}

.custom-long-text {
  height: 210px;
  width: 420px;
  position: relative;
  margin: 8px 0px 8px 0px;
}
.custom-long-text textarea {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px;
  line-height: 24px;
  background-color: #fbf7f6;
  border: none;
  border-radius: 4px;
  padding: 12px 20px 12px 20px;
  resize: none;
}
.custom-long-text textarea:focus {
  outline: none;
}
.custom-long-text ::placeholder {
  color: #2787be;
}

.custom-date-picker {
  height: 60px;
  width: 420px;
  position: relative;
  margin: 0px 0px 0px 0px;
}
.custom-date-picker input {
  background-color: #fbf7f6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  padding: 18px 0px 18px 20px;
  overflow: hidden;
  box-shadow: 4px 4px 12px 0px #bdbec2;
}
.react-datepicker-popper[data-placement^=bottom] {
  margin-top: 0px !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: #1d6476 !important;
}

.react-datepicker__current-month {
  color: #fbf7f6 !important;
}

.react-datepicker__day-name {
  color: #fbf7f6 !important;
}

.react-datepicker__day:focus {
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #a5d6c6 !important;
  color: #fbf7f6 !important;
}

.selector {
  margin: 32px 0px 20px 0px;
}
.selector .selector-button {
  background-color: #e0e0e0;
  height: 60px;
  padding: 20px 0px 20px 20px;
  border-radius: 4px;
  box-shadow: 4px 4px 12px 0px #bdbec2;
  cursor: pointer;
}
.selector .selector-button.vertical {
  margin: 8px 0px 8px 0px;
}
.selector .selector-button.horizontal {
  display: inline-block;
  margin: 20px 8px 20px 8px;
}
.selector .selector-button.horizontal.first {
  margin-left: 0px;
}
.selector .selector-button.horizontal.last {
  margin-right: 0px;
}
.selector .selector-button.selected {
  color: #fbf7f6;
  background-color: #d27236;
}
.selector .selector-button .description {
  display: inline-block;
  vertical-align: middle;
}

input[type=radio] {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  display: inline-block;
  margin: 0px 12px 0px 0px;
  width: 14px;
  height: 14px;
  background-clip: content-box;
  border: 2px solid #bdbec2;
  background-color: #fbf7f6;
  border-radius: 50%;
  cursor: pointer;
}

input[type=radio]:checked {
  border: 2px solid #fbf7f6;
  background-color: #d27236;
}

.recurring-transaction-summary {
  max-width: 420px;
  margin: 6px 0px 6px 0px;
}
.recurring-transaction-summary .category {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
}
.recurring-transaction-summary .type {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  padding: 0px 0px 0px 12px;
}
.recurring-transaction-summary .amount {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  float: right;
  max-width: 30%;
}
.recurring-transaction-summary .description {
  font-size: 12px;
  line-height: 16px;
}
.recurring-transaction-summary .after {
  display: inline-block;
  float: right;
  margin: 0px 0px 0px 8px;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #ba5056;
  clear: both;
  cursor: pointer;
}
.recurring-transaction-summary .after:hover {
  background-color: #8f0e22;
}

.recurring-transaction {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin: 6px 0px 6px 0px;
  float: none;
  cursor: pointer;
}
.recurring-transaction .category {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  text-overflow: ellipsis;
}
.recurring-transaction .times {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin: 0px 12px 0px 12px;
  width: 30%;
}
.recurring-transaction .description {
  font-size: 12px;
  line-height: 16px;
}
.recurring-transaction .amount {
  float: right;
}
.recurring-transaction .amount.negative {
  color: #ba5056;
}

.income-generator-summary {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin: 6px 0px 6px 0px;
  cursor: pointer;
}
.income-generator-summary .description {
  display: inline-block;
  width: 60%;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.income-generator-summary .net {
  float: right;
  max-width: 40%;
}

.ledger-entry {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin: 6px 0px 6px 0px;
  float: none;
  cursor: pointer;
}
.ledger-entry .category {
  display: inline-block;
  width: 40%;
  font-weight: bold;
  text-overflow: ellipsis;
}
.ledger-entry .date {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  margin: 0px 12px 0px 12px;
  width: 30%;
}
.ledger-entry .description {
  font-size: 12px;
  line-height: 16px;
}
.ledger-entry .amount {
  float: right;
}
.ledger-entry .amount.negative {
  color: #ba5056;
}

@media only screen and (max-width: 600px) {
  html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding-bottom: 0px !important;
    display: block !important;
  }

  #root {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar {
    height: 130px;
    max-width: 100%;
    overflow-x: hidden;
  }
  .navbar h1 {
    margin: 0px;
  }
  .navbar .custom-link {
    width: 20%;
    float: none;
    margin: 0px 20px 0px 20px;
  }

  .footer {
    max-width: 100%;
    overflow-x: hidden;
  }

  .dashboard-container {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
  }

  .ledger-history {
    margin: 20px 0px 20px 0px;
    width: 100%;
  }
  .ledger-history .custom-dropdown {
    margin: 8px 0px 8px 0px;
  }

  .income-generator-list {
    max-width: 100%;
    overflow-x: hidden;
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  .recurring-transaction-list {
    max-width: 100%;
    overflow-x: hidden;
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  .custom-dropdown {
    margin: 8px 0px 8px 0px;
    width: 280px;
  }
  .custom-dropdown .custom-dropdown-menu {
    width: 280px;
  }

  .custom-text {
    margin: 8px 0px 8px 0px;
    width: 280px;
  }

  .custom-date-picker {
    margin: 8px 0px 8px 0px;
    width: 280px;
  }

  .custom-button {
    margin: 8px 0px 8px 0px;
  }

  .error {
    width: 280px;
  }

  .modal-body {
    width: 80%;
    height: 80%;
    position: absolute;
    transform: none;
    top: 10%;
    left: 10%;
  }
  .modal-body .custom-button {
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1000px) {
  html, body {
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding-bottom: 0px !important;
    display: block !important;
  }

  #root {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }

  .container {
    width: 100%;
    margin: 0px;
    padding: 0px 20px 0px 20px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .navbar {
    height: 130px;
    max-width: 100%;
    overflow-x: hidden;
  }
  .navbar h1 {
    margin: 0px;
  }
  .navbar .custom-link {
    float: none;
    margin: 0px 8px 0px 8px;
  }

  .footer {
    max-width: 100%;
    overflow-x: hidden;
  }

  .dashboard-container {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
  }

  .ledger-history {
    margin: 20px 0px 20px 0px;
    width: 100%;
  }
  .ledger-history .custom-dropdown {
    margin: 8px 0px 8px 0px;
  }

  .income-generator-list {
    width: 100%;
    overflow-x: hidden;
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  .recurring-transaction-list {
    width: 100%;
    overflow-x: hidden;
    margin: 20px 0px 20px 0px;
    width: 100%;
  }

  .tickets-overview {
    width: 100%;
  }

  .add-type {
    width: 100%;
  }

  .custom-dropdown {
    margin: 8px 0px 8px 0px;
  }

  .custom-text {
    margin: 8px 0px 8px 0px;
  }

  .custom-date-picker {
    margin: 8px 0px 8px 0px;
  }

  .custom-button {
    margin: 8px 0px 8px 0px;
  }

  .modal-body {
    width: 80%;
    max-height: 80%;
    position: absolute;
    transform: none;
    left: 10%;
    top: 10%;
  }
  .modal-body .custom-button {
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
body {
  display: flex;
  flex-basis: 66%;
  display: -webkit-flex;
  color: #35343a;
  margin: 0;
  min-height: 100%;
  background-color: #e0e0e0;
}

/*# sourceMappingURL=main.css.map */
