html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0px;
}

html, body {
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

input:focus {
  outline: none;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}

button {
  background-color: #7d957b;
  border: none;
  border-radius: 2px;
  color: #dbdbdb;
  cursor: pointer;
  font-size: 16px;
  height: 100%;
  line-height: 20px;
  text-align: center;
  width: 100%;
  vertical-align: middle;
}
button.error {
  background-color: #8f0e22;
}
button.error:hover {
  background-color: #ba5056;
}
button:hover {
  background-color: #a5d6c6;
}

.custom-link {
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

a {
  color: #35343a;
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

@media screen and (orientation: landscape) {
  .navbar {
    background-color: #35343a;
    color: #fbf7f6;
    display: grid;
    grid-template-rows: repeat(10, 10%);
    grid-row: 1/9;
    grid-column: 1/2;
  }
  .navbar .custom-link {
    margin: 0px;
  }
  .navbar .title {
    cursor: pointer;
    font-size: 36px;
    grid-row: 1/2;
    line-height: 48px;
    text-align: right;
  }
  .navbar .navbar-auth {
    grid-row: 9/10;
    padding: 12px 0px 0px 0px;
    text-align: center;
  }
  .navbar .navbar-admin {
    grid-row: 8/9;
    padding: 12px 0px 0px 0px;
    text-align: center;
  }
}
@media screen and (orientation: portrait) {
  .navbar {
    background-color: #35343a;
    color: #fbf7f6;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(2, 50%);
    height: 10vh;
    padding: 0px 12px 0px 12px;
    position: absolute;
    width: 100%;
  }
  .navbar .custom-link {
    margin: 0px;
  }
  .navbar .title {
    grid-column: 1/8;
    grid-row: 2/3;
    font-size: 36px;
    line-height: 48px;
    cursor: pointer;
  }
  .navbar .navbar-auth {
    grid-column: 8/11;
    grid-row: 1/2;
    padding: 12px 0px 0px 0px;
    text-align: center;
  }
  .navbar .navbar-admin {
    grid-column: 5/8;
    grid-row: 1/2;
    padding: 12px 0px 0px 0px;
    text-align: center;
  }
}
.header {
  margin: 60px 0px 20px 0px;
}
.header h1 {
  font-size: 32px;
  line-height: 35px;
}
.header p {
  font-size: 16px;
  line-height: 24px;
}
.header .accent {
  background-color: #d27236;
  width: 69px;
  height: 2px;
}
.header .custom-link {
  margin: 0px;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (orientation: landscape) {
  .footer {
    background-color: #35343a;
    bottom: 0px;
    color: #fbf7f6;
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33%);
    grid-row: 41/43;
  }
  .footer a {
    color: #fbf7f6;
  }
  .footer .custom-link {
    cursor: pointer;
  }
  .footer .title {
    font-weight: bold;
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
  }
  .footer .frontend {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer .backend {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer .worker {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .footer .about {
    grid-column: 4/5;
    grid-row: 3/4;
  }
}
@media screen and (orientation: portrait) {
  .footer {
    background-color: #35343a;
    bottom: 0px;
    color: #fbf7f6;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33%);
    height: 10vh;
    position: absolute;
    width: 100%;
  }
  .footer a {
    color: #fbf7f6;
  }
  .footer .custom-link {
    cursor: pointer;
  }
  .footer .title {
    font-weight: bold;
    grid-column: 1/5;
    grid-row: 1/2;
    text-align: center;
  }
  .footer .frontend {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .footer .backend {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .footer .worker {
    grid-column: 4/5;
    grid-row: 2/3;
  }
  .footer .about {
    grid-column: 4/5;
    grid-row: 3/4;
  }
}
.dashboard {
  display: grid;
  grid-column-gap: 4%;
  grid-row-gap: 8px;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: repeat(42, 10vh);
  margin: 0px;
}
.dashboard .budget-summary {
  grid-column: 2/3;
  grid-row: 2/3;
}
.dashboard .transaction-history-visualization {
  background-color: #35343a;
  grid-column: 2/3;
  grid-row: 3/9;
}
.dashboard .add-ledger-entry {
  grid-column: 2/3;
  grid-row: 9/17;
}
.dashboard .ledger-history-list {
  grid-column: 1/2;
  grid-row: 9/17;
}
.dashboard .add-recurring-transaction {
  grid-column: 1/2;
  grid-row: 17/25;
}
.dashboard .recurring-transaction-list {
  grid-column: 2/3;
  grid-row: 17/25;
}
.dashboard .add-income-generator {
  grid-column: 2/3;
  grid-row: 25/33;
}
.dashboard .income-generator-list {
  grid-column: 1/2;
  grid-row: 25/33;
}
.dashboard .add-support-ticket {
  grid-column: 1/2;
  grid-row: 33/41;
}
.dashboard .support-ticket-list {
  grid-column: 2/3;
  grid-row: 33/41;
}

@media screen and (orientation: portrait) {
  .dashboard {
    display: grid;
    grid-template-columns: repeat(5, 90%);
    grid-template-rows: repeat(10, 10vh);
    grid-column-gap: 16px;
    grid-row-gap: 0px;
    width: 100%;
    margin: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .dashboard .navbar {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .dashboard .budget-summary {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .dashboard .transaction-history-visualization {
    background-color: #35343a;
    grid-column: 1/2;
    grid-row: 3/10;
    width: 100%;
  }
  .dashboard .add-ledger-entry {
    grid-column: 2/3;
    grid-row: 2/5;
  }
  .dashboard .ledger-history-list {
    grid-column: 2/3;
    grid-row: 5/10;
  }
  .dashboard .add-recurring-transaction {
    grid-column: 3/4;
    grid-row: 2/6;
  }
  .dashboard .recurring-transaction-list {
    grid-column: 3/4;
    grid-row: 6/10;
  }
  .dashboard .add-income-generator {
    grid-column: 4/5;
    grid-row: 2/6;
  }
  .dashboard .income-generator-list {
    grid-column: 4/5;
    grid-row: 6/10;
  }
  .dashboard .add-support-ticket {
    grid-column: 5/6;
    grid-row: 3/5;
  }
  .dashboard .support-ticket-list {
    grid-column: 5/6;
    grid-row: 5/10;
    width: 100%;
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 11;
}

.modal-body {
  background-color: #fbf7f6;
  position: fixed;
  border: 2px #7d957b solid;
  width: 489px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  z-index: 11;
  overflow: auto;
}

.modal-header {
  text-align: center;
  min-height: 113px;
  color: #fbf7f6;
  background-color: #7d957b;
  padding: 40px 20px 47px 20px;
}
.modal-header h1 {
  font-size: 24px;
  line-height: 26px;
}

.modal-content {
  color: #35343a;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  line-height: 18px;
  max-height: 800px;
}
.modal-content h1 {
  text-align: center;
  font-size: 24px;
  line-height: 28px;
}

@media screen and (orientation: portrait) {
  .modal-body {
    width: 90%;
  }

  .modal-content {
    max-height: 90%;
  }
}
.name-value {
  padding: 6px 0px 8px 0px;
}
.name-value .name-value-name {
  display: inline-block;
  float: left;
  max-width: 45%;
  text-overflow: ellipsis;
  font-weight: bold;
}
.name-value .name-value-value {
  display: inline-block;
  float: right;
  text-align: right;
  max-width: 45%;
}
.name-value .after {
  clear: both;
}

.input-label, .custom-date-picker label, .custom-text label, .custom-dropdown label {
  position: absolute;
  margin: -2px 0px 0px 20px;
  color: #7d957b;
  transform-origin: top left;
  transform: translate(0, 16px);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
}

.input-label-active, .custom-date-picker.active label, .custom-text.active label, .custom-dropdown.active label {
  font-size: 10px;
  line-height: 14px;
  margin: 0px 0px 0px 20px;
  transform: translate(0, 4px);
}

.custom-dropdown {
  height: 100%;
  width: 100%;
}
.custom-dropdown .icon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 16px 24px 24px 372px;
  cursor: pointer;
}
.custom-dropdown .icon img {
  width: 16px;
  height: 16px;
}
.custom-dropdown input {
  color: #35343a;
  background-color: #fbf7f6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border-color: #7d957b;
  border-radius: 2px;
  padding: 20px 0px 16px 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.custom-dropdown label {
  cursor: pointer;
}
.custom-dropdown.active label {
  cursor: pointer;
}
.custom-dropdown.focused {
  border-radius: 4px;
}
.custom-dropdown.focused img {
  transform: rotate(180deg);
}

.custom-dropdown-menu {
  position: absolute;
  width: 100%;
  background-color: #fbf7f6;
  z-index: 11;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 180px;
  border: 2px solid;
  border-color: #7d957b;
  cursor: pointer;
}
.custom-dropdown-menu .custom-dropdown-item {
  height: 48px;
  padding: 12px 0px 12px 20px;
  font-size: 14px;
  line-height: 18px;
}
.custom-dropdown-menu .custom-dropdown-item:hover {
  color: #fbf7f6;
  background-color: #7d957b;
}
.custom-dropdown-menu .icon {
  margin-left: 86%;
}

.custom-dropdown-menu {
  width: 100%;
}

.custom-text {
  font-size: 16px;
  height: 100%;
  line-height: 24px;
  width: 100%;
}
.custom-text > span {
  position: absolute;
  display: block;
  padding: 16px 0px 16px 20px;
}
.custom-text input {
  color: #35343a;
  background-color: #fbf7f6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border-color: #7d957b;
  border-radius: 2px;
  padding: 20px 0px 16px 20px;
  overflow: hidden;
}
.custom-text.error input {
  color: #ba5056;
  border: 1px solid;
  border-color: #f5b8b7;
}
.custom-text.has-pre-token input {
  padding-left: 30px;
}

.custom-long-text {
  height: 210px;
  width: 420px;
  position: relative;
  margin: 8px 0px 8px 0px;
}
.custom-long-text textarea {
  width: 100% !important;
  height: 100% !important;
  font-size: 16px;
  line-height: 24px;
  color: #35343a;
  background-color: #fbf7f6;
  border-color: #7d957b;
  border-radius: 2px;
  padding: 12px 20px 12px 20px;
  resize: none;
}
.custom-long-text textarea:focus {
  outline: none;
}
.custom-long-text ::placeholder {
  color: #7d957b;
}
.custom-long-text .custom-text {
  height: 100%;
  margin: 0px;
  width: 100%;
}

.custom-date-picker {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
}
.custom-date-picker input {
  color: #35343a;
  background-color: #fbf7f6;
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 24px;
  border: 2px #7d957b solid;
  border-radius: 2px;
  padding: 18px 0px 18px 20px;
  overflow: hidden;
}
.react-datepicker {
  background-color: #35343a !important;
  margin: 0px;
}

.react-datepicker-popper[data-placement^=bottom] {
  margin-top: 0px !important;
}

.react-datepicker-popper[data-placement^=top] {
  margin-bottom: 0px !important;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: #35343a !important;
}

.react-datepicker__current-month {
  color: #fbf7f6 !important;
}

.react-datepicker__day-name {
  color: #fbf7f6 !important;
}

.react-datepicker__day:focus {
  outline: none;
}

.react-datepicker__day--selected {
  background-color: #35343a !important;
  color: #fbf7f6 !important;
}

.custom-date-picker {
  height: 100%;
  width: 100%;
}

.react-datepicker-wrapper {
  height: 100% !important;
  width: 100% !important;
}

.react-datepicker__input-container {
  height: 100% !important;
  width: 100% !important;
}

.selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4px;
}
.selector .selector-button {
  width: 100%;
  color: #35343a;
  background-color: #bdbec2;
  height: 100%;
  padding: 20px 0px 20px 20px;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0px 2px 0px 2px;
  font-size: 16px;
  line-height: 24px;
}
.selector .selector-button.first {
  margin-left: 0px;
  grid-column: 1/2;
}
.selector .selector-button.last {
  margin-right: 0px;
}
.selector .selector-button.selected {
  color: #e0e0e0;
  background-color: #7d957b;
}
.selector .selector-button .description {
  display: inline-block;
  vertical-align: middle;
}

input[type=radio] {
  --webkit-appearance: none;
  --moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  display: inline-block;
  margin: 0px 12px 0px 0px;
  width: 14px;
  height: 14px;
  background-clip: content-box;
  border: 2px solid #fbf7f6;
  background-color: #fbf7f6;
  border-radius: 50%;
  cursor: pointer;
}

input[type=radio]:checked {
  border: 2px solid #fbf7f6;
  background-color: #7d957b;
}

@media screen and (orientation: portrait) {
  .selector {
    height: 100%;
  }
  .selector .selector-button {
    padding: 12px 0px 12px 20px;
    width: 100%;
  }
}
@media screen and (orientation: landscape) {
  .ledger-history-list {
    display: grid;
    grid-template-rows: 48px 48px 48px 1fr;
    max-height: 100%;
  }
  .ledger-history-list .title {
    grid-row: 1/2;
  }
  .ledger-history-list .title h1 {
    margin: 0px;
  }
  .ledger-history-list .month {
    grid-row: 2/3;
  }
  .ledger-history-list .total {
    grid-row: 3/4;
    display: grid;
    font-weight: bold;
    grid-template-columns: 40% 60%;
  }
  .ledger-history-list .total .amount {
    grid-column: 1/2;
  }
  .ledger-history-list .total .amount.negative {
    color: #ba5056;
  }
  .ledger-history-list .total .title {
    grid-column: 2/3;
  }
  .ledger-history-list .list {
    grid-row: 4/5;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .ledger-history-list .list .ledger-entry {
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: 28% 69%;
    margin: 8px 0px 0px 0px;
    cursor: pointer;
  }
  .ledger-history-list .list .ledger-entry .amount {
    grid-column: 1/2;
    text-align: right;
  }
  .ledger-history-list .list .ledger-entry .amount.negative {
    color: #ba5056;
  }
  .ledger-history-list .list .ledger-entry .description {
    overflow: hidden;
    grid-column: 2/3;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (orientation: portrait) {
  .ledger-history-list {
    display: grid;
    grid-template-rows: 48px 48px 48px 1fr;
  }

  .title {
    grid-row: 1/2;
  }
  .title h1 {
    margin: 0px;
  }

  .month {
    grid-row: 2/3;
  }

  .total {
    grid-row: 3/4;
    display: grid;
    font-weight: bold;
    grid-template-columns: 40% 60%;
  }
  .total .amount {
    grid-column: 1/2;
  }
  .total .amount.negative {
    color: #ba5056;
  }
  .total .title {
    grid-column: 2/3;
  }

  .list {
    grid-row: 4/5;
    overflow-x: hidden;
    overflow-y: scroll;
  }
  .list .ledger-entry {
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: 28% 69%;
    margin: 8px 0px 0px 0px;
    cursor: pointer;
  }
  .list .ledger-entry .amount {
    grid-column: 1/2;
    text-align: right;
  }
  .list .ledger-entry .amount.negative {
    color: #ba5056;
  }
  .list .ledger-entry .description {
    overflow: hidden;
    grid-column: 2/3;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
@media screen and (orientation: landscape) {
  .add-ledger-entry {
    display: grid;
    grid-template-rows: repeat(7, 48px);
    grid-row-gap: 4px;
    .description-grid-row: 5/6;
  }
  .add-ledger-entry .title {
    grid-row: 1/2;
    margin: 0px;
  }
  .add-ledger-entry .title h1 {
    margin: 0px;
  }
  .add-ledger-entry .transaction-type {
    grid-row: 2/3;
  }
  .add-ledger-entry .amount {
    grid-row: 3/4;
  }
  .add-ledger-entry .category {
    grid-row: 4/5;
  }
  .add-ledger-entry .date {
    grid-row: 6/7;
  }
  .add-ledger-entry .submit {
    grid-row: 7/8;
  }
}
@media screen and (orientation: portrait) {
  .add-ledger-entry {
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 48px);
    grid-row-gap: 4px;
    max-height: 100%;
    width: 100%;
    .description-grid-column: 2/3;
    .description-grid-row: 3/4;
  }
  .add-ledger-entry .title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 0px;
  }
  .add-ledger-entry .title h1 {
    margin: 0px;
  }
  .add-ledger-entry .transaction-type {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .add-ledger-entry .amount {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .add-ledger-entry .category {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .add-ledger-entry .date {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .add-ledger-entry .submit {
    grid-column: 2/3;
    grid-row: 4/5;
  }
}
.recurring-transaction-list {
  display: grid;
  grid-template-rows: 48px 48px 48px 1fr;
  overflow-x: hidden;
}
.recurring-transaction-list .title {
  grid-row: 1/2;
  white-space: nowrap;
}
.recurring-transaction-list .time-period {
  grid-row: 2/3;
}
.recurring-transaction-list .total {
  grid-row: 3/4;
  display: grid;
  font-weight: bold;
  grid-template-columns: 40% 60%;
}
.recurring-transaction-list .total .amount {
  grid-column: 1/2;
}
.recurring-transaction-list .total .amount.negative {
  color: #ba5056;
}
.recurring-transaction-list .total .title {
  grid-column: 2/3;
}
.recurring-transaction-list .list {
  grid-row: 4/5;
  overflow-x: hidden;
  overflow-y: scroll;
}
.recurring-transaction-list .list .recurring-transaction {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: 28% 69%;
  margin: 8px 0px 0px 0px;
  cursor: pointer;
}
.recurring-transaction-list .list .recurring-transaction .amount {
  grid-column: 1/2;
  text-align: right;
}
.recurring-transaction-list .list .recurring-transaction .amount.negative {
  color: #ba5056;
}
.recurring-transaction-list .list .recurring-transaction .description {
  overflow: hidden;
  grid-column: 2/3;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-recurring-transaction {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 48px);
  grid-row-gap: 4px;
  .description-grid-column: 2/3;
  .description-grid-row: 3/4;
}
.add-recurring-transaction .title {
  grid-column: 1/3;
  grid-row: 1/2;
}
.add-recurring-transaction .title h1 {
  margin: 0px;
}
.add-recurring-transaction .transaction-type {
  grid-column: 1/2;
  grid-row: 2/3;
}
.add-recurring-transaction .amount {
  grid-column: 2/3;
  grid-row: 2/3;
}
.add-recurring-transaction .category {
  grid-column: 1/2;
  grid-row: 3/4;
}
.add-recurring-transaction .date {
  grid-column: 1/2;
  grid-row: 4/5;
}
.add-recurring-transaction .frequency {
  grid-column: 2/3;
  grid-row: 4/5;
}
.add-recurring-transaction .submit {
  grid-column: 2/3;
  grid-row: 5/6;
}

.income-generator-list {
  display: grid;
  grid-template-rows: 48px 48px 48px 1fr;
}
.income-generator-list .title {
  grid-row: 1/2;
}
.income-generator-list .title h1 {
  margin: 0px;
}
.income-generator-list .time-period {
  grid-row: 2/3;
}
.income-generator-list .total {
  grid-row: 3/4;
  display: grid;
  font-weight: bold;
  grid-template-columns: 40% 60%;
}
.income-generator-list .total .amount {
  grid-column: 1/2;
}
.income-generator-list .total .amount.negative {
  color: #ba5056;
}
.income-generator-list .total .title {
  grid-column: 2/3;
}
.income-generator-list .list {
  grid-row: 4/5;
  overflow-x: hidden;
  overflow-y: scroll;
}
.income-generator-list .list .income-generator {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: 28% 69%;
  margin: 8px 0px 0px 0px;
  cursor: pointer;
}
.income-generator-list .list .income-generator .amount {
  grid-column: 1/2;
  text-align: right;
}
.income-generator-list .list .income-generator .amount.negative {
  color: #ba5056;
}
.income-generator-list .list .income-generator .description {
  overflow: hidden;
  grid-column: 2/3;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add-income-generator {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 48px) 1fr;
  grid-row-gap: 4px;
}
.add-income-generator .title {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0px;
}
.add-income-generator .title h1 {
  margin: 0px;
}
.add-income-generator .frequency {
  grid-column: 2/3;
  grid-row: 3/4;
}
.add-income-generator .description {
  grid-column: 2/3;
  grid-row: 2/3;
}
.add-income-generator .date {
  grid-column: 1/2;
  grid-row: 3/4;
}
.add-income-generator .add-transaction {
  grid-column: 1/2;
  grid-row: 4/5;
}
.add-income-generator .submit {
  grid-column: 2/3;
  grid-row: 4/5;
}
.add-income-generator .list {
  grid-column: 1/3;
  grid-row: 5/6;
  overflow-x: hidden;
  overflow-y: scroll;
}
.add-income-generator .list .transaction {
  display: grid;
  grid-column-gap: 4px;
  grid-template-columns: 28% 69%;
  margin: 8px 0px 8px 0px;
}
.add-income-generator .list .transaction .summary-amount {
  grid-column: 1/2;
  text-align: right;
}
.add-income-generator .list .transaction .summary-amount.negative {
  color: #ba5056;
}
.add-income-generator .list .transaction .summary-description {
  overflow: hidden;
  grid-column: 2/3;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.add-income-generator .add-transaction-to-income-generator {
  display: grid;
  grid-column-gap: 4px2;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 48px 48px 48px;
  grid-row-gap: 4px;
}
.add-income-generator .add-transaction-to-income-generator .transaction-type {
  grid-column: 1/2;
  grid-row: 1/2;
}
.add-income-generator .add-transaction-to-income-generator .transaction-amount {
  grid-column: 2/3;
  grid-row: 1/2;
}
.add-income-generator .add-transaction-to-income-generator .transaction-category {
  grid-column: 1/2;
  grid-row: 2/3;
}
.add-income-generator .add-transaction-to-income-generator .transaction-description {
  grid-column: 2/3;
  grid-row: 2/3;
}
.add-income-generator .add-transaction-to-income-generator .transaction-submit {
  grid-column: 2/3;
  grid-row: 3/4;
}

body {
  flex-basis: 66%;
  color: #35343a;
  margin: 0;
  min-height: 100%;
  background-color: #fbf7f6;
}

/*# sourceMappingURL=main.css.map */
